defaults: &defaults
  adapter: postgresql
  host: localhost
  encoding: unicode
  pool: 5
  username: postgres
  password: postgres

development:
  <<: *defaults
  database: accounts_development

test:
  <<: *defaults
  database: accounts_test

staging:
  <<: *defaults
  database: accounts_development
